[user]
	name = Sebastian Dahlgren
	email = sebdah@fb.com
	signingkey = 0AAC354611A9CF4B
[alias]
	branches = !git for-each-ref \
		--sort=-committerdate \
		--format=\"%(color:blue)%(authordate:relative)\t \
				%(color:red)%(authorname)\t \
				%(color:green)%(refname:short)\" \
		refs/remotes \
		| column -t -s \"\t\"
[core]
	editor = nvim
	whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore
	autocrlf = input
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
[pull]
	rebase = true
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
	keepBackup = false
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git lfs smudge %f
	required = true
[rebase]
	autosquash = true
[branch]
	autoSetupRebase = always
[github]
	user = sebdah
[commit]
	gpgsign = true
[gitflow "feature.finish"]
	push = yes
[gitflow "bugfix.finish"]
	push = yes
[gitflow "hotfix.finish"]
	push = yes
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
